<!DOCTYPE html>
<html>
<body>
    <p>Enter the IP address</p>
    
    <input type = "text" id = "ip">
    <Button type = "submit" onclick = "websocketChat()">Connect</Button>
    <br>
    <br>
    <textarea id="chat" rows="40" cols="180" readonly></textarea>
    <br>
    <input id="msg" placeholder="Type message...">

    <script>
        function websocketChat(){
            const ipBox = document.getElementById("ip");
            const ipAddress = ipBox.value.trim()
            let ws = new WebSocket("ws://" + ipAddress  + ":8765");

            ws.onmessage = e => {
                chat.value += e.data + "\n";
            };

            msg.onkeydown = e => {
                if (e.key === "Enter") {
                    ws.send(msg.value);
                    msg.value = "";
                }
            };
        };
    </script>
</body>
</html>
